body { background: #ccffff;
	   color: black
	 }
a {  color: #00ffff 
  }
#google { color: #6600ff 
		}
#yandex { color: red 
		}
#div1 { color: black;
		font-size: 20pt;
		font-weight: bold
	  }
#mail { color: #666666 
	}
div { color: #00ff06 }	 
#test2 {color: #ff00ff } 
#h41 { margin-left: 30mm
	 }
#h42 { margin-left: 30mm
	 }
#h43 { margin-left: 30mm
	 }
#test3 { color: green 
	   }
