#start { width: 1000px; 
		margin:0 auto;
		}
body { background-image: url(img/bg.gif) }
#top { background-image: url(img/bg_top.gif) }
#topleft { background-image: url(img/bg_top_left.gif) }
#topright { background-image: url(img/bg_top_right.gif) }
.top { background-image: url(img/zakladka.gif);
	   background-repeat: no-repeat; 
	   padding-left: 15px;
	   border-bottom: solid 1pt #b93202 }
#table2 { color: white;
		  background-color: white;
		  font-size: 19px;
		  font-weight: bold;
		  font-family: Times New Raman }
#table3 { color: #c23105;
		  background-color: white;
		  font-size: 23px;
		  font-weight: bold;
		  font-family: Times New Raman;
		  border: solid thin #7c8083;}
.td1 { border: dotted thin #808080;
	   background-color: #f0f0f0;
	   padding-left: 14px }
span { padding-left: 14px; }
.h4 { color: #aa3a12;
	  padding-bottom: 0px }
.spanl { color: #a3a3a3;
	  margin-top: 0px;
	  padding-left: 0px;
	  font-size: 11px }
.pak { color: #4a4a4a;
	font-family: verdana;
	font-size: 13px;
	border-bottom: thin #7f7f7f dashed;
	padding-bottom: 10px;
	margin-top: 0px }
.zag { color: #aa3a12;
	   font-weight: bold;
	   font-size: 16px }
.td2 { padding-right: 12px; 
	   background-color: white;
	   padding-left: 14px; }
.td3 { padding-right: 12px; 
	   background-color: white;
	   padding-left: 14px;
	   border-bottom: thin #7f7f7f solid;
		border-top: thin #7f7f7f solid;
		border-left: thin #7f7f7f solid;
		border-right: thin #7f7f7f solid }
#div2 { border-bottom: thin #7f7f7f solid;
		border-top: thin #7f7f7f solid;
		border-left: thin #7f7f7f solid;
		border-right: thin #7f7f7f solid }
#div3 { float: left }
#div4 { float: right }
#div5 { background: white;
	    margin-top: 330px }
#news { background-image: url(img/zakladka.gif);
	   background-repeat: no-repeat; 
	   padding-left: 15px;
	   background-color: white;
	   font-size: 19px;
	   font-weight: bold;
	   font-family: Times New Raman;
	   color: white;
	   border-bottom: solid 1pt #b93202 }
#tablee { border-bottom: thin #aa3a12 solid;
		border-top: thin #aa3a12 solid;
		border-left: thin #aa3a12 solid;
		border-right: thin #aa3a12 solid }	   
.duck { background-image: url(img/bg_gall.gif);
		background-repeat: repeat-x;
		background-position: bottom center }
.ryd1 { margin-left: 4px;
		margin-bottom: 1px;
		border: 1px #7c7a7f solid }
.ryd2 { margin-right: 0px;
	    margin-bottom: 1px;
		border: 1px #7c7a7f solid }
.ggwp { border-bottom: thin #7f7f7f solid;
		border-top: thin #7f7f7f solid;
		border-left: thin #7f7f7f solid;
		border-right: thin #7f7f7f solid }
#bottom{ background-image: url(img/bg_bottom.gif) }
#bottomleft { background-image: url(img/bg_bottom_left.gif) }
#bottomright { background-image: url(img/bg_bottom_right.gif) }