html, body { margin: 0;
			padding: 0}
#container { margin: 0 auto;
			width: 75%;
		    border-left: #62c3c8 thin solid}
#top { background-image: url(logo.jpg);
	  height: 150px;
	  background-repeat: no-repeat; 
	  background-size: 100% 150px }
#bgtop { background-image: url(bgtop.jpg);
		 margin-top: -15px;
		 height: 32px }
#menu { list-style-type: none }
#menu li { display: inline;
		 line-height: 30px;
		 padding-right: 35px;
		 font-family: Arial;
		 font-size: 14px;
		 color: white;
		 font-weight: bold}	
#zag { font-family: Arial;
	   font-weight: bold;
	   font-size: 18px;
	   margin-left: 30px;
	   margin-top: 24px}	
.text { margin-left: 30px;
		text-align: justify;
		font-family: Verdana;
		line-height: 17px;
		font-size: 12px;
		 margin-right: 25px}	   
#content { width: 75%;
		   margin-bottom: 4%}
#right { width: 25%;
		 margin-top: 1px;
		 float: right;
		 background-color: #2792bd}
#image { margin-right: 18px}
.right { font-family: verdana;
		 color: white;
		 font-size: 18px;
		 margin-top: 5px;
		 margin-left: 25px}
.right1 { color: white;
		  font-family: Verdana;
		  font-weight: bold;
		  font-size: 12px;
		  margin-left: 25px;
		  line-height: 17px}
.right2 { color: white;
		  font-family: Verdana;
		  font-weight: normal;
		  font-size: 12px;
		  text-align: justify;
		  margin-right: 25px;
		  margin-left: 25px;
		  line-height: 17px}
#footer { background: #c1e8f8;
		  height: 60px}
#bottom { text-align: center;
		  font-family: Verdana;
		  font-size: 9px;
		  padding-top: 30px}