#tr1 { background-color: #e7f7de;
	 }
a { color: green
  }
h3 { color: #4c8550 
   }
#td2 { color: white;
	   padding: 0
	 }
table { border-spacing: 0px
	 }
#img1{ padding-top: 4px
	 }
table tr td p { padding-left: 4px 
		  }
#img2 { margin-left: 20pt;
	   margin-top: 40pt;
	   margin-right: 20pt
	  }
#maincover {
	background-repeat: round;
    background-image: url(image.jpg);
}