			a:hover { text-decoration: underline;
					  color: #00ff06; 
					}
			body { cursor: auto;
				  background-color: black
				 }
			h3:first-letter { font-size: 15pt;
							      color: red 
							}			
			div a { color: #57cc2e;
					text-decoration: none;
					font-family: "Constantia";
					font-size: 14pt;
					font-style: oblique 
				  }
			div.logo a { font-size: 20pt;
						 color: #b9b9b9;
						 font-family: "Verdana"
					   }
			#reg { color: blue;
				   font-family: "Verdana";
				   font-style: normal;
				   background: white
				 }
			#reg:hover { color: #ffffff;
						 background: blue
					   }
			#news{ padding-left: 40%
					}
			#img  { color: #00FF06;
				   font-size: 18pt;
				   font-family: "Verdana";
				   font-weight: bold;
				   letter-spacing: 5mm; 
				   word-spacing: 10 mm;
				   text-decoration: blink 
				}	
			p span { color: aqua;
					padding-left: 15px;
					letter-spacing: 1mm;
					font-size: 17px
				  }
			h2 { color: #00ff06;
			    font-family: "arial"
			  }
			h3 { padding-left: 15px;
				color: aqua;
				font-family: "Batang";
				padding-top: 0 
			   }
			table { border: #00ff06 thin dashed;
				  margin-top: 0px
				  }
			form div { color: #00ff06;
					 padding-left: 10px
				   }
			#nonews { padding-left: 40%;
					 font-size: 17px;
					 color: #00ff06 
					}
			#igrmod{ font-size: 17px;
					 color: #00ff06 
				}
			#test4 { vertical-align: top
				}