html, body { margin: 0 }
#container { margin: 0 auto;
			 width: 83% }
#top { background-image: url(logtop.jpg);
	  height: 180px;
	  background-repeat: no-repeat;
	  width: 100%;
	  background-size: 100% 180px }
#bgtop { background-image: url(bgtop.jpg);
		height: 11px}
#menutop { background: black;
		  color: white;
		  height: 29px}
.span1 { color: #ff9900;
		font-weight: bold; 
		letter-spacing: 1px; 
		font-size: 17px}
#menutop2 { padding-top: 3px;
			padding-left: 35px }
.span2 { padding-right: 20px}
#line { background-image: url(line.jpg);
		height: 5px}
#bgmenu { background-image: url(bgmenu.jpg);
		 background-repeat: repeat-x;
		 background-position: center top }
#menu { margin-left: 60px;
		margin-right: 60px;
		margin-top: 30px}
#events { font-size: 18px;
		  font-family: Arial;
		  color: black;
		  margin-bottom: 25px}
.words { text-align: justify;
		 color: #617698;
		 font-family: Verdana;
		 font-size: 13px;
		 line-height: 17px}
#text2 { margin-right: 24%}
#text { margin-left: 24%}
#footer { background-color: #557fa9 }
#spanfoot1 { text-align: left;
			color: white;
			margin-left: 3%;
			font-family: arial;
			font-size: 11px}
#spanfoot2 { text-align: right;
			color: white;
			margin-left: 51%;}