body
{
	background: url(logo2.jpg);
	background-attachment: fixed;
	margin: 0;
	padding: 0
}
#container
{
	width:85%;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: crosshair
	
}
#header
{
	width: 85%;
	height: 400px;
	margin: 0 auto;
	margin-top: 20px;
	background: url(logo.png) no-repeat;
	background-size:  100% 400px;
	
}
#footer
{
	width: 99%;
	height: 450px;
	margin: 0 auto;
	margin-top: 10px;
	background: url(bottom.png) no-repeat;
	background-size:  100% 450px;
}
#logo
{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-top: 370px;
	font-size: 40px;
	letter-spacing: 1px;
	font-family: calibri;
		background: radial-gradient(blue, green); 
	-webkit-background-clip: text;  
	color: transparent;
	font-weight: bold;
}
#poni1
{
	color: #e116b0
}
#poni2
{
	color: #3c26ad
}
#poni3
{
	color: #a4f30d
}
#poni4
{
	color: #200667
}
#poni5
{
	color: #7e0204
}
#poni6
{
	color: #1edce3
}
#poni7
{
	color: #920d80
}
#poni8
{
	color: #05591d
}
#poni9
{
	color: #ac421a
}
#poni10
{
	color: #d0fa06
}

#mainmenu
{
	height: 60px;
	background-image: url(backgroundsecond2.png);
	border-radius: 20px;
	border-style: groove;
	border-color: #48cc00;
}
.l1
{ 
	padding-top: 40px;
	display: inline;
	padding: 3px;
	letter-spacing: 12px;
	
}
#menu1
{
	text-align: center;
	padding-left: 0px;
}
.span1
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	font-family: calibri;
}
.a1
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	font-family: calibri;
}
.a1:hover
{
	color: #000000;
	font-size: 20px;
	font-family: calibri;
	background: linear-gradient(green, red, blue, yellow, black, white); 
	-webkit-background-clip: text;  
	color: transparent;
}
#context
{
	margin-top: 40px;
	height: 400px;
	text-align: center;
	vertical-align: middle;
	background: url(bgrasta2.png) no-repeat;
	background-size: 100% 120%;
	border-radius: 20px;
	border-style: groove;
	border-color: #48cc00;
}
#choise
{
	margin-top: 34px;
	border-style: groove;
	border-color: #48cc00;
	border-radius: 20px;

}