#start { margin: 0 auto;
		 width: 200px;
		 background-color: silver}
#list1 {  }		 
#first { 
		color: green;
		font-size: 20px;
		font-weight: bold}
#list2 {  }		
#second {
		color: red;
		font-size: 20px;
		font-weight: bold }
#list3 {  }		
#third {
		color: yellow;
		font-size: 20px;
		font-weight: bold }
#list4 {  }
#fourth {
		color: aqua;
		font-size: 20px;
		font-weight: bold }
#markiza { background-color: #e7e7e7;
		  padding-left: 10px;
		  padding-right: 10px }
.back { font-size: 20px;
		font-weight: none }
