#body { margin-top: 0px;
		background-image: url(fon.jpg);
		background-repeat: repeat-x}
#container { width: 90%;
			 margin: 0 auto }
#top { width: 100%;
	   background-image: url(bg_top.jpg);
	   height: 220px }
#span1 {	 color: white; 
		 font-weight: bold;
		 font-size: 25px;
		 font-family: Arial;
		 margin-left: 155px }
 #span2 { color: white; 
		 font-weight: bold;
		 font-size: 12px;
		 font-family: Arial;
		 margin-left: 29%;
		 font-style: italic }
#left { width: 22%;
		background-image: url(l_col_tall.gif);
		float:left}
.shapa { background-image: url(bg_on.jpg);
		width: 100%;
		height: 49px}
.span2 { color: white; 
		 font-weight: bold;
		 font-size: 12px;
		 font-family: Arial;
		 padding-top: 16px;
		 padding-left: 29px }
.menu { height: 300px }
.list { color: #3d586d }
.menu1 { height: 20px }
.list2 { color: #3d586d;
		 margin-left: 6px}
.menu2 { background-image: url(bottom.jpg);
		 height: 170px}
#content { width: 78%;
		  margin-left: 22%;
		  background-color: #ffffff;
		  margin-top: 0;
		  height: 713px}
#topcont { background-image: url(tin.jpg);
		   width: 100%;
		   height: 42px}
#first { color: #1f4f7f;
		 font-family: Arial;
		 font-size: 13px;
		 font-weight: bold }
.pole1 { color: #3d586d;
		 margin-left: 20px;
		 padding-top: 14px ;
		 margin-right: 20px;
		 border-top: #3d586d thin dashed;
		 padding-bottom: 14px;
		 border-bottom: #3d586d thin dashed} 
.tema { color: #7c7c7c;
		margin-left: 10px;
		 margin-right: 10px;
		 font-weight: bold;
		 font-family: Arial}
.dalee { color: #3d586d;
margin-right: 10px;}